/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: currentColor;
}

.svg-icon circle {
  stroke: currentColor;
  stroke-width: 1;
}